*{
  margin:0;
  padding:0;
}
.plus{
  padding-left: 10%;
  padding-right: 10%;
}
.search{
  padding-left: 10%;
  padding-right: 10%;
}
.mailp{
  padding-top:10px;
}
.searchbox{
  margin-bottom:0;
}
.sbox{
  height: 60px;
}